BasedOnStyle: LLVM
BreakBeforeBraces: Attach
UseTab: ForIndentation
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120